<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страничка</title>
    <link rel="stylesheet" href="/static/main_page.css"> <!-- Подключаем внешний CSS файл -->
</head>
<body>
    <div class="content">
        <h1>Добро пожаловать в будущее торговли</h1>
        <p>Создайте своего уникального торгового бота или выберите готовое решение, которое изменит ваше финансовое будущее. Быстро. Легко. Умно.</p>
        {% if is_authenticated %}
            <button class="account-button" onclick="window.location.href='/account'">Личный кабинет</button>
        {% else %}
            <button class="login-button" onclick="window.location.href='/login'">Войти</button>
            <button class="register-button" onclick="window.location.href='/register'">Зарегистрироваться</button>
        {% endif %}
    </div>
</body>
</html>
